{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock title %}


{% block content %}
<div class="modal on"> 
    <div class="modal__overlay"></div>

    <div class="modal__body">
        <!-- Authen form log in -->

        <div class="authen--form authen--form--login">
                <div class="authen--form__content">
                    <div class="authen--form__header">
                        <h3 class="authen--form__header--sub">Cập nhật mật khẩu thành công</h3>
                    </div>
                    <div class="authen--form__control">
                        <a href="{% url 'course:login' %}" type='submit' style="text-decoration: none;" class="btn btn--primary">Đăng nhập</a>
                    </div>
                </div>
        </div> 
    </div>
</div>
<script>
    input = document.querySelectorAll('.authen--form__form--infor input')
    console.log(input);
    input[0].setAttribute('placeholder','Nhập email của bạn')

    const clickOutLogin = document.querySelector('.js--back-login')
    clickOutLogin.addEventListener('click', outLogin)
    function outLogin () {
        modalLogin.classList.remove('on')
    }

</script>
{% endblock content %}