html {
    overflow: hidden scroll;
}


html::-webkit-scrollbar {
    display: none;
}

.side__bar-respon {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    transform: translateX(-100%);
}

.iscover-fill {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all ease 0.5s;
    transform: translateX(0);
    animation: fadeInSidebar ease 1s;
}

@keyframes fadeInSidebar {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.side__bar-respon-left {
    width: 65%;
    height: 100%;
    background-color: #fff;
    overflow: hidden scroll;
    transform: translateX(-100%);
    transition: transform ease 1s 0.2s;
}

.side__bar-respon-left::-webkit-scrollbar {
    display: none;
}

.side__bar-respon-user {
    width: 100%;
    height: auto;
    padding: 50px;
}

.side__bar-respon-user-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.side__bar-respon-right {
    width: 35%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
}

.side__bar-respon-list {
    list-style: none;
    padding: 0;
    padding: 20px 0 20px 20px;
}

.side__bar-respon-item {
    border-radius: 5px;
}

.side__bar-respon-item-link {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #757575;
    height: 100%;
}

.side__bar-respon-item:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.side__bar-respon-item-link i{
    width: 35px;
    text-align: center;
    font-size: 1.6rem;
}

.side__bar-respon-item-link span {
    font-size: 1.6rem;
    margin-left: 10px;
}

.issidebar-repons-active {
    background-color: rgba(0, 0, 0, 0.08);
}

.isspacing {
    padding: 0;
    line-height: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.isopen-sidebar-respon {
    transform: translateX(0);
}

/* Back home */
.header__icon-back-home {
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header__icon-back-home:hover i {
    transform: translateX(-4px);
}

.header__icon-back-home i {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    transition: transform ease 0.3s;
}

.header__icon-back-home span {
    font-size: 1.4rem;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.5);
}

/* header-index.html */

.app__wrap {

}

.header__wrap {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    padding: 0 28px;
    display: flex;
    height: 66px;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.05);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    z-index: 10;
}

.header__icon {
    position: relative;
    align-items: center;
    display: flex;
    align-items: center;
}

.header__icon-menu {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 0 10px;
    display: none;
}

.header__icon-img {
    cursor: pointer;
}

.header__icon-img-item {
    width: 36px;
    height: 36px;
}

.header__icon-heading {
    margin-left: 16px;
}

.header__icon-heading-text {
    font-size: 1.6rem;
    font-weight: 500;
    word-spacing: 1px;
    color: var(--text-color);
}

.header__search {
    display: flex;
    flex: 0.62;
    align-items: center;
    justify-content: center;
}

.header__search-wrap {
    display: flex;
    align-items: center;
    flex: 0.7;
    height: 50%;
    padding: 18px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
@keyframes slipDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.header__search-result {
    position: absolute;
    width: 500px;
    background: var(--white-color);
    height: auto;
    top: 60px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    animation: slipDown ease .3s;
    display: none;


}
.header__search-result .result__content ul {
    list-style: none;
    padding: 0px;
}
.header__search-result .result__content ul  li{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}
.result__content ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
.result__content ul li a:hover span{
    color: var(--text-color);
    text-decoration: underline;
}
.result__content ul li a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;

}

.header__search-wrap i {
    font-size: 1.3rem;
    color: #a8b2b8;
    margin-right: 12px;
}

.header__search-wrap input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.4rem;
    word-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 2.5rem;
}

.header__search-wrap:focus-within {
    border: 1px solid var(--primary-color);

}


.header__information {
    display: flex;
}

.header__information-wrap {
    position: relative;
    align-items: center;
    display: flex;
}

.header__information-search-icon-moblie {
    font-size: 1.6rem;
    margin-right: 20px;
    color: #797979;
    cursor: pointer;
    display: none;
}

.header__information-search-icon-moblie:hover {
    color: black;
}

.header__information-notify {
    display: flex;
    align-items: center;
}

.header__information-notify i {
    font-size: 1.8rem;
    color: #707070;
    margin-right: 20px;
}

.header__information-notify i:hover {
    color: #222;
    cursor: pointer;
}
/* Ảnh user khi đăng nhập vào tài khoản */
.header__information-img {
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);;
}

.header__information-img img {
    width: 30px;
    height: 30px;
}
/* Đăng ký đăng nhập khi chưa đăng nhập tài khoản */
.header__information-user {
    display: flex;
    font-size: 16px;
    cursor: pointer;
}
.header__information-user-register {
    border: 1px;
    border-style: solid;
    border-color: transparent rgb(182, 181, 181) transparent transparent;
    padding-right: 10px;
    
}
.header__information-user-login {
    padding-left: 10px;
}
.header__information-user a {
    text-decoration: none;
    color: #222;
}

/* Notify box */

.header__information-notify-box {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    top: 60px;
    right: 35px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    animation: slipDown ease .3s;
    display: none;
    z-index: 99;
}



.header__information-notify-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 20px;
}

.header__information-notify-box-header h1 {
    font-size: 1.9rem;
    font-weight: 500;
}

.header__information-notify-box-header span {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.header__information-notify-box-header span:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__information-notify-box-page {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
    margin: 0 6px 6px;
    padding: 8px 30px 8px 18px;
}
.header__information-notify-box-page p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 10px;
}

.header__information-notify-box-page-content {
    cursor: default;
}

.header__information-notify-box-page span {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__information-notify-box-page:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.header__information-notify-box-page-icon img {
    margin-right: 16px;
    width: 48px;
    border-radius: 50%;
}

/* Userbox */
.header__information-user-box {
    width: 230px;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: var(--white-color);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 18px 20px;
    animation: slipDown ease .3s;
    display: none;
}

.header__information-user-box-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header__information-user-box-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.header__information-user-box-header h3 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 1.7rem;
    font-weight: 500;
}

.header__information-user-box-header span {
    margin: 0;
    margin-bottom: 4px;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}

.header__information-user-box-list {
    list-style: none;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__information-user-box-list li {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    padding: 12px 0;
}

.header__information-user-box-list li:hover {
    color: rgba(0, 0, 0, 1);
}

.header__information-user-box-item-save {
    line-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__information-user-box-item-save a {
    text-decoration: none;
    display: block;
}
.header__information-user-box-item-setting a{
    text-decoration: none;
    display: block;
}
/* Sidebar-index.html */

.page__wrap {
    display: flex;
}

.page__sidebar {
    /* --width-sidbar: 96px; */
    width: var(--width-sidbar);
    height: 100%;
    padding: 0 10px;
    position: sticky;
    left: 0;
    bottom: 0;
    top: 66px;
}

.page__sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__sidebar-item-handle:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;
}

.page__sidebar-add-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--add-icon-color);
    border-radius: 50%;
    cursor: pointer;
}

.page__sidebar-add-item-link:hover .page__sidebar-add-item-icon {
    font-size: 2.3rem;
}

.isrotate {
    transform: rotate(45deg);
    font-size: 2.3rem !important;
}

.page__sidebar-add-item-icon {
    transition: ease 0.2s;
    position: relative;
    top: 2px;
    color: var(--white-color) !important;
    font-size: 1.6rem;
}

.page__sidebar-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    margin-bottom: 4px;
    border-radius: 15px;
    text-decoration: none;
}

.page__sidebar-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    margin-bottom: 4px;
    border-radius: 15px;
}

.issidebar-active {
    background-color: #e8ebed;
}

.page__sidebar-list li i {
    font-size: 1.8rem;
    margin-bottom: 4px;
    color: var(--text-color);
}

.page__sidebar-list li span {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}


.page__sidebar-add-box {
    position: absolute;
    left: 0px;
    top: 135px;
    width: 200px;
    padding: 8px 0;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: none;
    animation: slipDown ease 0.3s;
}

.page__sidebar-add-box-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
}

.page__sidebar-add-box-item:hover {
    background-color: rgba(0, 0, 0, 0.08);
    animation: fadeIn ease 0.4s;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0)
    }
    to {
        background-color: rgba(0, 0, 0, 0.08)
    }
}

.page__sidebar-add-box-item i {
    font-size: 1.6rem !important;
    margin-right: 16px;
    width: 16px;
}

.page__sidebar-add-box-item strong {
    font-size: 1.5rem;
    font-weight: 300;
}


/* Page_content-index.html */
.page__content {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 2080px;
    margin: auto;
}

.page__content-wrap {
    margin: auto;
    width: 100%;
    padding: 14px 40px 0 20px;

}

/* Slider */

.page__content-slider {
    position: relative;
}

.page__content-slider-btn-prev {
    --width-btn-slider: 32px;
    --height-btn-slider: 32px;
    height: var(--height-btn-slider);
    width: var(--width-btn-slider);
    background-color: rgba(225, 225, 225, 0.8);
    border-radius: 50%;
    border: none;
    position: absolute;
    z-index: 1;
    top: calc((100% - var(--height-btn-slider)) / 2);
    left: -16px;
    cursor: pointer;
}

.page__content-slider-btn-next {
    --width-btn-slider: 32px;
    --height-btn-slider: 32px;
    height: var(--height-btn-slider);
    width: var(--width-btn-slider);
    background-color: rgba(225, 225, 225, 0.8);
    border-radius: 50%;
    border: none;
    position: absolute;
    z-index: 1;
    top: calc((100% - var(--height-btn-slider)) / 2);
    right: 81px;
    cursor: pointer;
}

.page__content-slider-btn-prev:hover i {
    color: rgba(0, 0, 0, 1);
}

.page__content-slider-btn-next:hover i {
    color: rgba(0, 0, 0, 1);
}

.page__content-slider-btn-prev i,
.page__content-slider-btn-next i {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.6);
}

.page__content-slider-wrap {
    overflow: scroll hidden;
    width: calc(100% - (96px));
}

.page__content-slider-wrap::-webkit-scrollbar {
    display: none;
}

.page__content-slider-list {
    display: flex;
}

.page__content-slider-item {
    flex: 0 0 calc(100%);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 15px;
    align-items: center;
}

.page__content-slider-item-content {
    padding: 0 36px 36px;
    max-width: 600px;
}

.page__content-slider-item-content h2 {
    font-size: 3.2rem;
    color: var(--white-color);
}

.page__content-slider-item-content p {
    font-size: 1.6rem;
    color: var(--white-color);
    line-height: 2.6rem;
    margin-bottom: 35px;
}

.page__content-slider-item-content a {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    padding: 4px 10px;
    border: 2px solid var(--white-color);
    border-radius: 25px;
    text-decoration: none;
    
}

.page__content-slider-item-link:hover {
    background-color: var(--white-color);
    transition: all linear 0.3s;
}

.page__content-slider-slickdot {
    margin-top: 20px;
    width: 100%;
    height: 8px;
    display: flex;
}

.page__content-slider-slickdot li {
    list-style: none;
    border-radius: 15px;
    margin-right: 10px;
    width: 35px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 6px;
}

.page__content-slider-slickdot li.slideractive {
    list-style: none;
    border-radius: 15px;
    margin-right: 20px;
    width: 55px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: width ease .5s;
}


/* Page_home */

.page__content-home {
    /* padding: 0 44px 74px; */
    margin-top: 60px;
    /* width: calc(100% - 96px); */
}

.page__content-home-heading {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.page__content-home-heading strong{
    font-weight: 600;
    font-size: 1.4rem;
}

.page__content-home-courses,
.page__content-home-featured-post {
    margin-bottom: 60px;
}


.page__content-home-courses-header,
.page__content-home-featured-post-header,
.page__content-home-featured-video-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.page__content-home-courses-header h1,
.page__content-home-featured-post-header h1,
.page__content-home-featured-video-header h1 {
    font-size: 2.8rem;
}

.page__content-home-courses-header a,
.page__content-home-featured-post-header a,
.page__content-home-featured-video-header a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.page__content-home-courses-header i,
.page__content-home-featured-post-header i,
.page__content-home-featured-video-header i {
    transition: all ease 0.5s;
}

.page__content-home-courses-header a:hover,
.page__content-home-featured-post-header a:hover,
.page__content-home-featured-video-header a:hover {
    text-decoration: underline;
}

.page__content-home-courses-header a:hover i,
.page__content-home-featured-post-header a:hover i,
.page__content-home-featured-video-header a:hover i {
    transform: translateX(4px);
    
}

.page__content-home-courses-list,
.page__content-home-featured-post-list,
.page__content-home-featured-video-list {
    position: relative;
}

.page__content-home-courses-list:hover button,
.page__content-home-featured-post-list:hover button,
.page__content-home-featured-video-list:hover button {
    display: block;
}


.page__content-home-courses-list button,
.page__content-home-featured-post-list button,
.page__content-home-featured-video-list button {
    padding: 8px 14px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    background-color: var(--white-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}
.course-prev-btn,
.featured-post-prev-btn,
.featured-video-prev-btn {
    position: absolute;
    top: 30%;
    left: -50px;
}

.course-prev-btn::after,
.featured-post-prev-btn::after,
.featured-video-prev-btn::after {
    content: "";
    position: absolute;
    top: -250%;
    width: 50px;
    height: 230px;
    background-color: transparent;
}

.course-next-btn::before,
.featured-post-next-btn::before,
.featured-video-next-btn::before {
    content: "";
    position: absolute;
    right: 20px;
    top: -250%;
    width: 50px;
    height: 230px;
    background-color: transparent;
}

.course-next-btn,
.featured-post-next-btn,
.featured-video-next-btn {
    position: absolute;
    right: -50px;
    top: 30%;
}

.course-prev-btn:hover,
.course-next-btn:hover,
.featured-post-next-btn:hover,
.featured-post-prev-btn:hover,
.featured-video-next-btn:hover,
.featured-video-prev-btn:hover {
    color: rgba(0, 0, 0, 1);
}

.page__content-home-courses-list-cover,
.page__content-home-featured-post-list-cover,
.page__content-home-featured-video-list-cover {
    overflow: scroll hidden;
}

.page__content-home-courses-list-cover::-webkit-scrollbar,
.page__content-home-featured-post-list-cover::-webkit-scrollbar,
.page__content-home-featured-video-list-cover::-webkit-scrollbar {
    display: none;
}

.page__content-home-courses-list-wrap,
.page__content-home-featured-post-list-wrap,
.page__content-home-featured-video-list-wrap {
    transition: transform ease 1s;
    display: flex;
    flex-wrap: wrap;
}

.page__content-home-courses-item,
.page__content-home-featured-post-item,
.page__content-home-featured-video-item {
    flex: none;
    margin-bottom: 20px;
}

.page__content-home-courses-img,
.page__content-home-featured-post-img,
.page__content-home-featured-video-img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-height: 183px;
    transition: 0.3s ease;
}
.page__content-home-courses-img:hover{
    transform: scale(1.05);
    transition: 0.3s ease;

}

.page__content-home-courses-description,
.page__content-home-courses-link,
.page__content-home-featured-post-description,
.page__content-home-featured-video-description {
    text-decoration: none;
}

.page__content-home-courses-item h3,
.page__content-home-featured-post-item h3,
.page__content-home-featured-video-item h3 {
    margin: 10px 0;
    color: var(--text-sub-color);
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 90%;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.page__content-home-featured-post-information,
.page__content-home-featured-video-information {
    line-height: 0;
    display: flex;
    align-items: center;
}

.page__content-home-featured-post-information img {
    width: 20px;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    top: -2px;
}

.page__content-home-featured-post-information p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-sub-color);
    margin-right: 20px;
}

.page__content-home-featured-post-information span {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

}

.page__content-home-featured-video-information div{
    font-size: 1.4rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}
/* Footer */

.footer__wrap {
    height: 32px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-color: var(--white-color);
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__list-left {
    display: flex;
}

.footer__list-left-icon-img {
    width: 20px;
    filter: grayscale(100%);
    opacity: 0.8;
    margin-right: 8px;
}

.footer__list-left-about {
    margin: 0 20px;
}

.footer__list-left-about a,
.footer__list-left-job a {
    font-size: 1.4rem;
    color: #8a99a2;
    text-decoration: none;
}

.footer__list-right {

}

.footer__list-right a {
    font-size: 2rem;
    text-decoration: none;
    margin-left: 10px;
}

.footer__list-right a i {
    color: #8a99a2;
}



.isopen {
    display: block;
}

/* Notice warn */

#notice {
    position: fixed;
    top: 65px;
    right: 20px;
    z-index: 100;
}

.notice__warn {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 6px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    animation: slideInLeft ease 0.5s, fadeOut linear 1s 1.5s forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.notice__warn-icon {
    font-size: 2.2rem;
    color: #f89d13;
}

.notice__warn-content {
    margin-left: 8px;
}

.notice__warn-heading {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-bottom: 6px;
}

.notice__warn-message {
    font-size: 1.3rem;
}

.iswarning {
    transform: translateX(0);
}


/* fong */

.content__description__course{
    line-height: 25px;
    font-size: 1.8rem;
}
.content__description__course:nth-child(1){
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 300;
}
.content__description__course-header {
    font-size: 40px;
}
.content__description__course-content {
    font-size: 25px;
    text-decoration:underline ;
}

/* Table */
.content__description__course-table {
    padding-top: 20px;
}
.content__description__course > ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

}
.content__description__course > ul  li {
    font-size: 17px;
    list-style: none;
    flex-basis: 50%;
    padding: 10px 0;
    font-weight: 300;
}
.content__description__course > ul  li::before{
        content: "\2727";
        color: red;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
}
/* List course */
.content__description__course-item {
    display: flex;
    justify-content: space-between;
}
.content__description__course-item span{
    font-size: 18px;
    font-weight: 300;
}
.content__description__course-item i {
    font-size: 20px;
    color: var(--primary-color);
    padding-right: 10px;
    opacity: 0.5;
}

/* .content__description__course-list ul {
    list-style: none;
} */
.content__description__course-list li {
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
.content__description__course-statistical{
    font-size: 16px;
    font-family: inherit;
}
.content__description__course-list li:first-child {
    border-color: transparent;
}
/* Content right */
.gird_colum-3 {
    /* width: 33.3333%; */
    margin-left: 20px;
}
.gird_colum-7 {
    width: 66.66667%;
}
.content__description__time {
    display: inline-block;
    text-align: center;
}
.content__description__time-video-img {
    width: 380px;
    height: 230px;
    padding-top: 20px;
    object-fit: cover;
    overflow:visible;
    border-radius: 5px;
    opacity: 0.7;
}
.content__description__time-video {
    position: relative;
    cursor: pointer;
}
.content__description__time-video i {
    font-size: 65px;
    position: absolute;
    top: 40%;
    right: 48%;
    color: #fff;
}
.content__description__time-video span {
    position: absolute;
    justify-content: center;
    padding-bottom: 20px;
    top: 80%;
    right: 30%;
    font-size: 20px;
    color: #fff;
}
.content__description__time-header {
    text-align: center;
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 300;
}
.content__description__time-register button,.content__description__time-register a {
    padding: 10px 20px;
    background-color: var(--primary-color);
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;

}
.content__description__time-register button:hover,.content__description__time-register a:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
}
.content__description__time-register  {
    display: block;
    margin-top: 20px;
}
/* end fong */

/* Responsive */

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .header__icon,
    .header__information-img {
        display: none;
    }

    .header__icon-menu {
        display: flex;
    }

    .header__search {
        flex: 0;
    }

    .page__sidebar {
        display: none;
    }
    
    .page__content-wrap {
        padding: 14px 40px 0 40px;
    }

    .page__content-slider-wrap {
        width: 100%;
        overflow: hidden;
    }

    .page__content-slider-btn-next {
        left: 96%;
        width: 50px;
        height: 50px;
    }

    .page__content-slider-btn-prev {
        width: 50px;
        height: 50px;
        left: -24px;
    }

    .page__content-slider-item {
        width: 100%;
    }

    .page__content-slider-list {
        max-height: 290px;
    }

    .page__content-slider-img-wrap {
        width: 200px;
    }

    /* Page home */

    .page__content-home {
        padding: 0;
        width: 101%;
    }

    #notice {
        right: 30px;
    }

    .page__content-home-featured-video {
        margin-bottom: 50px;
    }

    
}


@media (max-width: 740px) {
    .page__sidebar,
    .header__icon,
    .header__information-img,
    .header__search {
        display: none;
    }

    .header__icon-menu {
        display: flex;
    }

    .header__information-notify i {
        margin: 0;
    }

    .header__information-notify-box {
        width: 360px;
        right: -20px;
    }

    .header__information-notify-box-page {
        padding: 8px 5px 8px 18px;
    }

    .header__information-notify-box-page-content {
        width: 263px;
    }

    .header__wrap {
        padding: 0 20px;
    }

    
    .header__information-wrap {
        padding: 0 20px;
    }


    .header__icon-menu {
        padding: 0;
    }



    /* Slider */

    .page__content-slider-wrap {
        overflow: hidden;
    }

    .page__content-wrap {
        padding: 14px 20px 0 20px;
    }

    .page__content-slider-wrap {
        height: 270px;
        width: 100%;
    }

    .page__content-slider-list {
        height: 100%;
    }

    .page__content-slider-img-wrap img {
        display: none;
    }

    .page__content-slider-item-heading {
        line-height: 3.5rem;
        margin: 0;
        margin-top: 25px;
        word-wrap: break-word;
    }
    
    .page__content-slider-item-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;

    }

    .page__content-slider-btn-prev {
        width: 45px;
        height: 45px;
        left: -19px;
    }

    .page__content-slider-btn-next {
        left: 92%;
        width: 45px;
        height: 45px;
    }


    /* Page */

    .page__content-home-courses-list button,
    .page__content-home-featured-post-list button,
    .page__content-home-featured-video-list button{
        display: none !important;
    }

    .page__content-home {
        width: 100%;
        padding: 0;
    }

    .page__content-home-courses-item,
    .page__content-home-featured-post-item,
    .page__content-home-featured-video-item {
        width: 75%;
    }

    .grid__column {
        width: auto !important;
    }

    .page__content-home-courses-img,
    .page__content-home-featured-post-img,
    .page__content-home-featured-video-img {
        height: auto;
        min-height: auto;
    }

    .page__content-home-featured-post-information-name {
        font-size: 1.2rem !important;
        width: 128px;
        margin-right: 0 !important;
    }

    .page__content-home-featured-post-information-date {
        font-size: 1.1rem !important;
    }

    .page__content-home-featured-post,
    .page__content-home-courses {
        margin-bottom: 0;
    }

    .page__content-home-featured-video {
        margin-bottom: 100px;
    }



    /* Question */

    .page__question-content {
        width: 100%;
    }

    .page__question-more {
        width: 0%;
    }

    /* sibebar-respon */

    .side__bar-respon-left {
        width: 80%;
        height: 100%;
    }

    .side__bar-respon-right {
        width: 20%;
        height: 100%;
    }

    /* search */
    .header__information-search-icon-moblie {
        display: block;
    }
}